/_DATA/selected_edges/
/_DATA/BERT_NSP_values.npy
/_DATA/content_score.npy
/_DATA/content_score_all_hyperparameters.npy
/_DATA/continuous_lesion_predictivity_cortico_cortical_with_hippocampus.npy
/_DATA/continuous_lesion_predictivity_cortico_cortical_without_hippocampus.npy
/_DATA/cortical_timeseries.npy
/_DATA/cortico_cortical_FC_without_hippocampus.npy
/_DATA/cortico_cortical_without_hippocampus_model_predictivity.npy
/_DATA/cortico_cortical_without_hippocampus_null_predictivity.npy
/_DATA/hippocampal_timeseries.npy
/_DATA/hippocampo_cortical_FC.pkl
/_DATA/hippocampo_cortical_FC_narrative_coherence.pkl
/_DATA/hippocampo_cortical_FC_NSP_value.pkl
/_DATA/hippocampo_cortical_FC_semantic_similarity.pkl
/_DATA/hippocampo_cortical_model_predictivity.npy
/_DATA/hippocampo_cortical_model_predictivity_narrative_coherence.npy
/_DATA/hippocampo_cortical_model_predictivity_NSP_value.npy
/_DATA/hippocampo_cortical_model_predictivity_semantic_similarity.npy
/_DATA/hippocampo_cortical_null_predictivity.npy
/_DATA/ordering_score.npy
/_DATA/ordering_score_all_hyperparameters.npy
/_DATA/seed_based_model_predictivity.npy
/_DATA/semantic_similarity_values.npy
/_DATA/subcortical_timeseries.npy
